# Виртуальное окружение Python
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# PyCharm
.idea/

# Конфиденциальные переменные
.env

# Данные Docker (томы)
postgres_data/
# Docker
*.tar
*.gz
docker-compose.override.yml

# Локальные .env файлы
.env
.env.local
.env.production

# Docker override
docker-compose.override.yml
docker-compose.local.yml
